body {
    background: url('../img/bg.jpeg');
}

.container {
    margin-top: 7vh;

    border: solid 3px black;
    border-radius: 13px;

    height: 86vh;

    background: rgb(214, 214, 214);

    display: flex;
    flex-direction: column;
}

.info-row {
    height: 15%;
}

.content-row {
    flex: 1 1 auto;

    overflow: auto;
}

.title-p {
    font-size: 35px;
    
    margin: 20px;
}

/* LEFT SIDE */

.controls-col {
    height: 100%;

    font-size: 20px;
}

.books-col {
    height: 100%;

    padding: 0;
    padding-left: 15px;
}

.books-side-container {
    height: 100%;

    display: flex;
    flex-direction: column;

    border-right: solid 2px black;
}

.filter {
    margin-top: 4px;
    text-decoration: underline;
}

.img-wrapper {
    height: 40px;
    border: solid 4px green;
}

.search-input {
    display: block;
    width: 100%;
}

.search-img-col {
    padding: 0;
}

.search-icon {
    margin-top: 4px;
    height: 25px;
}

.books-row {
    flex: 1 1 auto;
    overflow-y: auto;
    height: 0px;

    margin-top: 20px;
}

.books-container {
    overflow-y: scroll;
}

.book-row {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    height: 120px;
    border-radius: 16px;
    background: rgb(243, 243, 243);

    border: solid 2px rgb(243, 243, 243);

    box-shadow: 0px 3px 5px rgba(119, 119, 119, 0.4);
}

.book-row:hover {
    border: solid 2px rgb(126, 126, 126);
    box-shadow: none;
}

.book-cover-col {
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.book-cover {
    margin-left: 10px;
    height: 100px;

    float: left;

    border-radius: 11px;
}

.info-p {
    font-size: 20px;
    margin-left: 15px;
}

/* RIGHT SIDE */

.right-side {
    margin-bottom: 20px;
}

.add-new-p {
    margin-top: 5px;
    font-size: 25px;
    text-decoration: underline;
}

.book-desc-row {
    border: solid 3px black;
    border-radius: 15px;
    width: auto;
}

.info-book-cover {
    margin: 10px;
    height: 100px;

    border-radius: 11px;
}

.info-text-row {
    margin-left: 0px;
}

.info-text-p {
    font-size: 18px;
}

.info-edit-row {
    margin-left: 0px;
}

.info-edit-p {
    font-size: 20px;

    text-decoration: underline;
}

.info-delete-row {
    margin-left: 0px;
}

.info-delete-p {
    font-size: 20px;

    text-decoration: underline;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
}

.book-input, .genre-select, .description-textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.submit-button {
    background-color: #0d9e0d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #45a049;
}